<div class="container">
    <div>
        <h2 >
            Kontakt vores VVS firma for at høre mere
        </h2>
        <p class="info-text">
            Du er mere end velkommen til at kontakte vores VVS firma. Vi er specialiseret inden for varmepumper, men kan sagtens være behjælpelig med andre VVS løsninger
        </p>
    </div>

    <div class="footer-bar">
        <form>
        <label for="footer-name">Navn:</label>
        <input id="footer-name" type="text" placeholder="Dit navn">
    
        <label for="footer-email">Email:</label>
        <input id="footer-email" type="email" placeholder="Din email">
    
        <label for="footer-message">Besked:</label>
        <textarea id="footer-message" placeholder="Din besked"></textarea>
    
        <button type="submit">Send</button>
        </form>
    </div>
</div>